body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
.header-logo {
    background: #071D49;
}

.logo img {
    margin: 10px;
}

.background-logo {
    position: absolute;
    width: 1322px;
    height: 734px;
    left: -38px;
    margin-top: -42px;
}

.container-logo {
    position: relative;
    left: -7.46%;
    right: 61.14%;
    top: -47.68%;
    bottom: 12.47%;
    transform: rotate(26deg);
}

.holon-logo {
    position: absolute;
    height: 256px;
    left: 441px;
    top: 172px;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    color: #ffff;
}

.holon-logo p {
    width: 350px;
    margin-top: -45px;
    font-size: 35px;
}

.container-content {
    position: absolute;
    widows: 70%;
    margin-top: 50%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.container-holon {
    margin-top: 100px;
    width: 50%;
}

.container-holon h1 {
    color: #F0AD4E;
}

.container-holon p {
    margin-top: 20px;
    font-size: 18px;
}

.container-content img {
    margin-top: 11%;
    margin-left: 29%;
}

.how-holon {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.how-holon img {
    margin-left: 20px;
    margin-top: 97%;
}

.how-text {
    margin-top: 97%;
    margin-left: 191px;
    width: 50%;
    text-align: right;
}

.how-holon h1 {
    color: #F0AD4E;
}

.how-holon p {
    font-size: 18px;
}