body {
    margin: 0;
    padding: 0;
}

.header-logo {
    background: #071D49;
}

.background-logo {
    position: absolute;
    width: 1322px;
    height: 734px;
    left: -38px;
}

.container-logo {
    position: relative;
    left: -7.46%;
    right: 61.14%;
    top: -47.68%;
    bottom: 12.47%;

    transform: rotate(26deg);
}

.holon-logo  {
    position: absolute;
    width: 790px;
    height: 256px;
    left: 441px;
    top: 172px;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    color: #ffff;
}

.holon-logo p {
    width: 300px;
    margin-top: -45px;
    font-size: 35px;
}

.container-content {
    position: absolute;
    widows: 70%;
    font-size: 35.16px;
    margin-top: 60%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.container-holon {
    width: 50%;
}

.container-content {
    font-size: 35.16px;
}

.container-holon h1 {
    color: #F0AD4E;
}

.container-holon p {
    margin-top: -20px;
    font-size: 18px;
}

.container-content img {
    margin-top: 11%;
    margin-left: 29%;
}