body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

main {
    margin: 10%;
}

.header-logo {
    background: #071D49;
}

.logo img {
    margin: 10px;
}

.background-logo {
    position: absolute;
    width: 1322px;
    height: 734px;
    left: -38px;
    margin-top: -42px;
}

.container-logo {
    position: relative;
    left: -7.46%;
    right: 61.14%;
    top: -47.68%;
    bottom: 12.47%;
    transform: rotate(26deg);
}

.holon-logo {
    position: absolute;
    height: 256px;
    left: 441px;
    top: 172px;
    font-size: 55px;
    display: flex;
    flex-direction: column;
    color: #ffff;
}

.holon-logo p {
    width: 350px;
    margin-top: -45px;
    font-size: 35px;
}

.holon-logo img {
    margin-top: 30px;
    margin-bottom: -100px;
    margin-left: -103px;
}

.container-content {
    position: absolute;
    margin-top: 35%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.container-holon {
    margin-top: 100px;
    width: 50%;
}

.container-holon h1 {
    color: #F0AD4E;
}

.container-holon p {
    margin-top: 20px;
    font-size: 15px;
    text-align: justify;
}

.container-content img {
    margin-top: 11%;
    margin-left: 19%;}

.how-holon {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.how-holon img {
    margin-left: 20px;
    margin-top: 97%;
}

.how-text {
    margin-top: 97%;
    margin-left: 191px;
    width: 50%;
    text-align: right;
}

.how-holon h1 {
    color: #F0AD4E;
}

.how-holon p {
    font-size: 15px;
    text-align: right;
}

.container {
    max-width: 80%;
    margin: auto;
}

.actors {
    text-align: center;
    color: #F0AD4E;
    margin-top: 8%;
}

.actors-boxes {
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.actors-boxes::before {
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 85%;
    height: 108%;
    transform: matrix(-0.99, 0.18, -0.16, -0.98, 0, 0);
    background: linear-gradient(90deg, #F0AD4E 0%, #6F4912 100%);
    border-radius: 50px;
    background-size: contain;
}

.actors-box {
    background: #fff;
    height: 400px;
    width: 32%;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0px 16px 24px rgba(7, 29, 73, 0.2);    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.actors-box p {
    margin: 10px;
}

.title {
    margin-top: 10px;
    color: #F0AD4E;
}

.box-two {
    background: #CE9037;
    color: #fff;
}

.box-two h1 {
    color: #fff;
}

.box-two p {
    margin-top: -5px;
}

.box-three {
    margin-top: -10px;
}

.paragraph {
    font-size: 15px;
}

.howworks {
    margin-top: 10%;
    text-align: center;
}

.howworks-box {
    background: #fff;
    height: 200px;
    width: 80%;
    margin-top: 1%;
    border-radius: 20px;
    box-shadow: 0px 16px 24px rgba(7, 29, 73, 0.2); 
    border: 1px solid #C6CACC;   
    display: flex;

}

.image {
    display: flex;
    align-items: center;
}

.img-validator {
    margin: 24px;
}

.container-howworks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-invite-dev {
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}

.container-invite-dev img {
    margin-left: 7%;
}

.container-invite-dev-text {
   text-align: center;
   margin-top: 40px;
}

a {
    text-decoration: none;
    color: #CE9037;
    padding-top: 5px;
    padding-left: 3px;
}

a:hover {
    text-decoration: underline;
}

.link-github {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.container-newsletter {
    flex-direction: column;
    text-align: center;
    margin-top: 120px;
    font-size: 13pt;
}

#input-newsletter {
    width: 23%;
    height: 5vh;
    margin-right: 10px;
    text-align: center;
    border-radius:6px;
    border:1px solid #CE9037;
}

.button-newsletter {
    background-color:#F0AD4E;
    border-radius:6px;
    border:1px solid #F0AD4E;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration:none;
}

.button-newsletter:hover {
    background-color:#CE9037;
}

.button-newsletter:active {
    position:relative;
    top:1px;
}

footer {
    height: 105px;
    background: #071D49;
    margin-top: 60px;
    display: flex;    
    flex-direction: row;
}

.footer-logo {
    width: 100%;
}

.footer-content {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-developers {
    color: #ffff;
    align-items: end;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.footer-icon {
    width: 186px;
    color: #ffff;
    margin-right: 33px;
    display: flex;
    flex-direction: column;
}

.footer-icon p {
    text-align: center;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-font {
    font-weight: 600;
}

.footer-content a {
    color: #fff;
}

.separation-text {
    margin: 14px;
}